/*
 * INFO: Light Theme
 */

.show {
  opacity: 1 !important;
  transform: translate(-50%, -50%) !important;
}

.float {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -250%);

  border: 1px black solid;
  border-radius: 0.25rem;
  width: 35%;
  height: 50%;

  opacity: 0;

  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 1);
  user-select: none;
  backdrop-filter: blur(40px);

  transition:
    opacity 0.5s ease-out,
    transform 1.5s ease-out;

  > .close {
    align-self: flex-end;
    font-size: 2rem;
    font-family: sans-serif;
    padding: 0 0.5rem;
    cursor: pointer;
    font-weight: bolder;

    &:hover {
      color: #ff5555;
    }
  }

  > form {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    > label,
    > button {
      border: 1px black solid;
      padding: 1rem;
      margin: 0.5rem 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

/*
 * INFO: Dark Theme
 */

@media (prefers-color-scheme: dark) {
}
